<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Roboto', sans-serif
        }
    </style>
</head>
<body>
<a href="/index">Click to go to homepage</a>
<br>
<br>
<form action="/login" method="post">
    <fieldset>
        <legend>Login</legend>
        <label>
            Email:
            <input
                    autocomplete="on"
                    {{/*                    Always user maxlength and minlength to validate input value*/}}
                    maxlength="15"
                    minlength="1"
                    {{/*                    name is used by the server side code to retrive the field value*/}}
                    name="email"
                    placeholder="example@example.com"
                    required
                    {{/*                    Type of field is email*/}}
                    type="email"
            >
        </label>
        <br>
        <label>
            Password:
            <input
                    autocomplete="on"
                    maxlength="10"
                    minlength="1"
                    name="password"
                    placeholder="Password"
                    required
                    {{/*                    Type of field is password*/}}
                    type="password"
            >
        </label>
        <br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
</body>
</html>