<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif
        }

        label {
            display: inline-block;
            width: 150px;
            text-align: right;
        }
    </style>
</head>
<body>
{{/*Go to homepage on click*/}}
<a href="/">Click to go to homepage</a>
<br>
<br>
<form method="post">
    <fieldset>
        <legend>Sign up</legend>
        <div>
            <label>Firstname:</label>
            <input
                    autocomplete="on"
                    autofocus
                    maxlength="25"
                    name="firstname"
                    placeholder="Firstname"
                    required
                    type="text"
            >
        </div>
        <div>
            <label>Lastname:</label>
            <input
                    autocomplete="on"
                    maxlength="25"
                    name="lastname"
                    placeholder="Lastname"
                    required
                    type="text"
            >
        </div>
        <div>
            <label>Email:</label>
            <input
                    autocomplete="on"
                    maxlength="25"
                    name="email"
                    placeholder="example@example.com"
                    required
                    type="email"
            >
        </div>
        <div>
            <label>Password:</label>
            <input
                    autocomplete="on"
                    maxlength="10"
                    minlength="5"
                    name="password"
                    placeholder="Password"
                    required
                    type="password"
            >
        </div>
        {{/*        To submit form, always use field type submit.*/}}
        <div>
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</form>
</body>
</html>