<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a href="/logout">Click to logout</a>
<br>
<br>
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {{range .}}
        <tr>
            <td>{{.Firstname}}</td>
            <td>{{.Lastname}}</td>
            <td>{{.Email}}</td>
            <td>{{.Password}}</td>
        </tr>
    {{end}}
</table>
</body>
</html>